<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entities.Properties.Settings.TDQDBConnectionString"
            connectionString="Data Source=WindowsPC;Initial Catalog=TDQDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>